<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>{% block title %}Home{% endblock %} saviourgidi </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grids-responsive-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <img src="{{ url_for('static',filename='img/profile.jpeg')}}">
                <h1 class="brand-title">Saviour Gidi</h1>
                <h2 class="brand-tagline">GIS Technician, Python Developer</h2>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a class="pure-button" href="{{ url_for('index') }}">Start Here</a></li>
                        <li class="nav-item"><a class="pure-button" href="{{ url_for('articles') }}">Articles</a></li>
                        <li class="nav-item"><a class="pure-button" href="{{ url_for('projects') }}">Projects</a></li>
                        <li class="nav-item"><a class="pure-button" href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        {% block content %}

       

               <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                
                <p><img src="{{ url_for('static', filename='img/banner.jpeg') }}" alt="" class="pure-img-responsive"></p>
                <h1>Let's Build Something Cool Together</h1>
                <p>Hi, I'm Jane Doe – a Python software engineer from Vancouver, Canada</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                <p>I’d love to help you out. Have a look at my projects below and see what’s right for you, or just get my free newsletter with articles for Python developers.</p>
                <h2>My Newsletter for Python Developers</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. <a href="index.html">Learn More »</a></p>
                <h2>Work with me as a Contractor</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. <a href="index.html">Learn More »</a></p>
                <h2>Recent Articles</h2>
                <p>I love writing and talking about Python. Here are a few recent articles you may want to check out:</p>
<div>
      
</div>
                <ul>
                    <li><a href="articles/sunny-day">📰 Oh, what a Sunny Day »</a></li>
                    <li><a href="articles/my-first-post">📰 My First Post »</a></li>
                </ul>

            </div>
        </div>
 <h2>List of stuff</h2>
        <ul>
        {% for page in pages %}
        <li>
            <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
         </li>
        {% else %}
        <li>No stuff.</li>
        {% endfor %}
    </ul>


        {% endblock %}
    </div>
</body>
</html>
